<section class="wrapper style1 align-center" id="map">
    <div class="inner">
        <div class="map-container" style="display: flex; flex-wrap: wrap; gap: 2rem; justify-content: center;">
            <div class="map-item" style="flex: 1 1 calc(33.333% - 2rem); max-width: 600px; min-width: 300px; display: flex; flex-direction: column; align-items: center;">
                <h3>Wedding</h3>
                <p><strong>St Matthew's Church</strong>, St Matthew's St, Cambridge CB1 2LT</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2445.077655963264!2d0.13524717666210231!3d52.20563627198047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8708ec9adbb23%3A0xd9f6185eb5ee93be!2sSt%20Matthew&#39;s%20Church!5e0!3m2!1sen!2suk!4v1745081704705!5m2!1sen!2suk"
                    style="width: 100%; aspect-ratio: 4 / 3; border: 0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="map-item" style="flex: 1 1 calc(33.333% - 2rem); max-width: 600px; min-width: 300px; display: flex; flex-direction: column; align-items: center;">
                <h3>Reception</h3>
                <p><strong>Clare Hall</strong>, Herschel Road, Cambridge, CB3 9AL</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9780.612118889043!2d0.08635065541992039!3d52.204266499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d870b22d0eb5c5%3A0xcde7cf3063e41b6f!2sClare%20Hall!5e0!3m2!1sen!2suk!4v1745081747398!5m2!1sen!2suk"
                    style="width: 100%; aspect-ratio: 4 / 3; border: 0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="map-item" style="flex: 1 1 calc(33.333% - 2rem); max-width: 600px; min-width: 300px; display: flex; flex-direction: column; align-items: center;">
                <h3>Parking</h3>
                <p>Parking locations in Cambridge: </br>Clare Hall + Park-and-rides</p>
                <iframe src="https://www.google.com/maps/d/embed?mid=1A3rN5xEHkWoIkinI9vvcjyB8Sn8tOtI&ehbc=2E312F"
                    style="width: 100%; aspect-ratio: 4 / 3; border: 0;"></iframe>
            </div>
        </div>
    </div>
</section>