<script async src="https://js.stripe.com/v3/buy-button.js">
</script>


<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="gift">
    <div class="content">
        <div class="stripe-info-box">
            <p>Your generous contributions help us make our wedding dreams come true. Thank you for your support!</p>
        </div>
        <div class="stripe-button-container">
            <stripe-buy-button buy-button-id="buy_btn_1RFbXFCz8V2bZnQ23r27bCyw"
                publishable-key="pk_live_51QZurkCz8V2bZnQ2aaxNgotmajjaWrPaUOV2hut3T4YX35ZBppDSECiCa60RunfPFiq9KIO0nqeJMt5VB0ZAIePz00H7QOpaxX">
            </stripe-buy-button>
        </div>
    </div>
</section>