<script async src="https://js.stripe.com/v3/buy-button.js">
</script>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in"
    id="gift">
    <div class="content">
        <div class="stripe-container">
            <div class="stripe-info-box">
                <p> As we are both PhD students living in small, temporary accommodation, we would appreciate if wedding
                    gifts are in the form of monetary donations. Please give whatever amount you feel comfortable with.
                    <strong>All donations are anonymous.</strong> </p>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">
                <stripe-buy-button buy-button-id="buy_btn_1RFbXFCz8V2bZnQ23r27bCyw"
                    publishable-key="pk_live_51QZurkCz8V2bZnQ2aaxNgotmajjaWrPaUOV2hut3T4YX35ZBppDSECiCa60RunfPFiq9KIO0nqeJMt5VB0ZAIePz00H7QOpaxX">
                </stripe-buy-button>
            </div>
        </div>
    </div>
</section>