<script async src="https://js.stripe.com/v3/buy-button.js">
</script>

<section class="spotlight style1 orient-right content-align-center image-position-center onscroll-image-fade-in"
    id="gift">

    <div class="content">
        <h2>Gifts</h2>
        <div class="stripe-container">
            <div class="stripe-info-box">
                <p> As we are both PhD students living in small, temporary accommodation, we would appreciate if
                    wedding
                    gifts are in the form of monetary contributions. Please give whatever amount you feel
                    comfortable with.
                    <strong>All gifts are anonymous.</strong>
                </p>
            </div>
            <div
                style="display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">
                <iframe src="https://revolut.me/abbie_d" 
                    style="width: 100%; max-width: 600px; height: 400px; border: 0;" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</section>